function Screen.init 0
push constant 0
not
pop static 0
push constant 0
return
function Screen.clearScreen 2
push constant 16384
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 8193
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 0
push constant 0
return
function Screen.twoToX 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
return
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 4
return
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 8
return
label IF_FALSE3
push argument 0
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 16
return
label IF_FALSE4
push argument 0
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 32
return
label IF_FALSE5
push argument 0
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 64
return
label IF_FALSE6
push argument 0
push constant 7
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 128
return
label IF_FALSE7
push argument 0
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 256
return
label IF_FALSE8
push argument 0
push constant 9
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 512
return
label IF_FALSE9
push argument 0
push constant 10
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 1024
return
label IF_FALSE10
push argument 0
push constant 11
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 2048
return
label IF_FALSE11
push argument 0
push constant 12
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 4096
return
label IF_FALSE12
push argument 0
push constant 13
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 8192
return
label IF_FALSE13
push argument 0
push constant 14
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push constant 16384
return
label IF_FALSE14
push argument 0
push constant 15
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 32767
not
return
label IF_FALSE15
push constant 1
neg
return
function Screen.drawPixel 4
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
push constant 16384
add
pop local 0
label WHILE_EXP0
push argument 0
push constant 16
gt
push argument 0
push constant 16
eq
or
not
if-goto WHILE_END0
push argument 0
push constant 16
sub
pop argument 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
call Screen.twoToX 1
pop local 1
push local 0
call Memory.peek 1
pop local 2
push static 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push local 1
or
pop local 3
goto IF_END0
label IF_FALSE0
push local 2
push local 1
not
and
pop local 3
label IF_END0
push local 0
push local 3
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 7
push constant 0
pop local 4
push constant 0
pop local 5
push constant 0
pop local 6
push argument 2
push argument 0
gt
push argument 3
push argument 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
pop local 0
push argument 1
pop local 1
push argument 2
push argument 0
sub
pop local 2
push argument 3
push argument 1
sub
pop local 3
label WHILE_EXP0
push local 4
push local 2
lt
push local 4
push local 2
eq
or
push local 5
push local 3
lt
push local 5
push local 3
eq
or
and
not
if-goto WHILE_END0
push local 0
push local 4
add
push local 1
push local 5
add
call Screen.drawPixel 2
pop temp 0
push local 6
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push constant 1
add
pop local 4
push local 6
push local 3
add
pop local 6
goto IF_END1
label IF_FALSE1
push local 5
push constant 1
add
pop local 5
push local 6
push local 2
sub
pop local 6
label IF_END1
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push argument 2
push argument 0
lt
push argument 3
push argument 1
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 0
pop local 0
push argument 1
pop local 1
push argument 0
push argument 2
sub
pop local 2
push argument 3
push argument 1
sub
pop local 3
label WHILE_EXP1
push local 4
push local 2
lt
push local 4
push local 2
eq
or
push local 5
push local 3
lt
push local 5
push local 3
eq
or
and
not
if-goto WHILE_END1
push local 0
push local 4
sub
push local 1
push local 5
add
call Screen.drawPixel 2
pop temp 0
push local 6
push constant 0
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 4
push constant 1
add
pop local 4
push local 6
push local 3
add
pop local 6
goto IF_END3
label IF_FALSE3
push local 5
push constant 1
add
pop local 5
push local 6
push local 2
sub
pop local 6
label IF_END3
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE2
push argument 2
push argument 0
lt
push argument 3
push argument 1
lt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 2
pop local 0
push argument 3
pop local 1
push argument 0
push argument 2
sub
pop local 2
push argument 1
push argument 3
sub
pop local 3
label WHILE_EXP2
push local 4
push local 2
lt
push local 4
push local 2
eq
or
push local 5
push local 3
lt
push local 5
push local 3
eq
or
and
not
if-goto WHILE_END2
push local 0
push local 4
add
push local 1
push local 5
add
call Screen.drawPixel 2
pop temp 0
push local 6
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 4
push constant 1
add
pop local 4
push local 6
push local 3
add
pop local 6
goto IF_END5
label IF_FALSE5
push local 5
push constant 1
add
pop local 5
push local 6
push local 2
sub
pop local 6
label IF_END5
goto WHILE_EXP2
label WHILE_END2
label IF_FALSE4
push argument 2
push argument 0
gt
push argument 3
push argument 1
lt
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 0
pop local 0
push argument 1
pop local 1
push argument 2
push argument 0
sub
pop local 2
push argument 1
push argument 3
sub
pop local 3
label WHILE_EXP3
push local 4
push local 2
lt
push local 4
push local 2
eq
or
push local 5
push local 3
lt
push local 5
push local 3
eq
or
and
not
if-goto WHILE_END3
push local 0
push local 4
add
push local 1
push local 5
sub
call Screen.drawPixel 2
pop temp 0
push local 6
push constant 0
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 4
push constant 1
add
pop local 4
push local 6
push local 3
add
pop local 6
goto IF_END7
label IF_FALSE7
push local 5
push constant 1
add
pop local 5
push local 6
push local 2
sub
pop local 6
label IF_END7
goto WHILE_EXP3
label WHILE_END3
label IF_FALSE6
push argument 3
push argument 1
sub
push constant 0
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push argument 3
pop local 1
push argument 2
push argument 0
gt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push argument 0
pop local 0
goto IF_END9
label IF_FALSE9
push argument 2
pop local 0
label IF_END9
push argument 2
push argument 0
sub
pop local 2
push local 2
call Math.abs 1
pop local 2
label WHILE_EXP4
push local 2
push constant 0
gt
not
if-goto WHILE_END4
push local 0
push local 2
add
push local 1
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP4
label WHILE_END4
label IF_FALSE8
push argument 2
push argument 0
sub
push constant 0
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push argument 2
pop local 0
push argument 3
push argument 1
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push argument 1
pop local 1
goto IF_END11
label IF_FALSE11
push argument 3
pop local 1
label IF_END11
push argument 3
push argument 1
sub
pop local 3
push local 3
call Math.abs 1
pop local 3
label WHILE_EXP5
push local 3
push constant 0
gt
not
if-goto WHILE_END5
push local 0
push local 1
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 3
push constant 1
sub
pop local 3
goto WHILE_EXP5
label WHILE_END5
label IF_FALSE10
push constant 0
return
function Screen.drawRectangle 0
push argument 2
push argument 0
gt
push argument 3
push argument 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
push argument 1
push argument 3
lt
push argument 1
push argument 3
eq
or
not
if-goto WHILE_END0
push argument 0
push argument 1
push argument 2
push argument 1
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 1
add
pop argument 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
label IF_FALSE0
push argument 2
push argument 0
lt
push argument 3
push argument 1
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label WHILE_EXP1
push argument 1
push argument 3
lt
push argument 1
push argument 3
eq
or
not
if-goto WHILE_END1
push argument 2
push argument 1
push argument 0
push argument 1
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 1
add
pop argument 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
label IF_FALSE1
push argument 2
push argument 0
lt
push argument 3
push argument 1
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
label WHILE_EXP2
push argument 3
push argument 1
lt
push argument 1
push argument 3
eq
or
not
if-goto WHILE_END2
push argument 2
push argument 3
push argument 0
push argument 3
call Screen.drawLine 4
pop temp 0
push argument 3
push constant 1
add
pop argument 3
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
label IF_FALSE2
push argument 2
push argument 0
gt
push argument 3
push argument 1
lt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
label WHILE_EXP3
push argument 3
push argument 1
lt
push argument 1
push argument 3
eq
or
not
if-goto WHILE_END3
push argument 0
push argument 3
push argument 2
push argument 3
call Screen.drawLine 4
pop temp 0
push argument 3
push constant 1
add
pop argument 3
goto WHILE_EXP3
label WHILE_END3
push constant 0
return
label IF_FALSE3
push constant 0
return
function Screen.drawCircle 1
push argument 2
push constant 181
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 21
call String.new 1
push constant 67
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 71
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 2
neg
pop local 0
label WHILE_EXP0
push local 0
push argument 2
lt
not
if-goto WHILE_END0
push argument 0
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
sub
push argument 1
push local 0
add
push argument 0
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
add
push argument 1
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
