function Main.main 0
push constant 97
call Output.printChar 1
pop temp 0
push constant 98
call Output.printChar 1
pop temp 0
push constant 99
call Output.printChar 1
pop temp 0
push constant 49
call Output.printChar 1
pop temp 0
push constant 50
call Output.printChar 1
pop temp 0
push constant 51
call Output.printChar 1
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
push constant 100
call Output.printChar 1
pop temp 0
push constant 0
return
