function Main.main 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 62
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 0
return
