function Main.main 3
push constant 10
call String.new 1
pop local 0
push constant 23
pop local 1
push local 0
push local 1
call String.setInt 2
pop temp 0
push local 0
call Output.printInt 1
pop temp 0
push constant 0
return
